<template>
    <div class="container-fluid">
        <div class="row">
            <InfoHandler :game="game" class="col-12 col-lg-4"/>
            <MapHandler
                    @marker-added-event="btnDisplay = true"
                    ref="mapHandler"
                    :game="game"
                    :status="status"
                    class="col-12 col-lg-8"/>
        </div>
        <button class="btn btn-primary float-right" v-if="btnDisplay" @click="btn">{{btnValue}}</button>
    </div>
</template>

<script>
    import InfoHandler from "../play/InfoHandler.vue";
    import MapHandler from "../play/MapHandler.vue";

    import shared from "../../js/shared";

    export default {
        name: "Play",
        components: {MapHandler, InfoHandler},
        data: function () {
            return {
                game: shared.party,
                status: shared.status,
                btnDisplay: false,
                distance: 0
            }
        },
        methods: {
            btn: function () {

                if (this.status.playing) {
                    //fin du tour compter les points

                    //this.distance = this.$refs.mapHandler.getDistance();
                    //console.log("distance : " + this.distance);

                    this.$refs.mapHandler.addCorrectMarker(this.game.locations[this.status.count]);

                    this.status.playing = false;
                } else {
                    if (this.status.count > this.status.size - 1) {
                        console.log("END");
                        return;
                    }
                    this.$refs.mapHandler.clear();
                    this.btnDisplay = false;
                    console.log(this.status.count++);

                    this.status.playing = true;
                }
            }
        },
        computed: {
            btnValue: function () {
                if (this.status.playing) {
                    return "Submit";
                }
                return this.status.count >= this.status.size - 1 ? "Submit scores" : "Next location";
            }
        }
    }
</script>

<style scoped>

</style>