<template>
    <div class="container">
        <h1>Welcome to CityLocate!</h1>
        <button class="btn btn-primary" @click="play">Play</button>
    </div>
</template>

<script>
    import shared from "../../js/shared";
    import * as $ from "jquery"

    export default {
        name: "Welcome",
        data: function () {
            return {
                shared: shared
            }
        },
        methods: {
            play: function () {
                //request for a new game
                $.post(shared.origin + "/play/games", { userToken: shared.token, city: "Belfort"}, undefined, 'json')
                    .done(function (data) {
                        if (data.error) {
                            shared.flash = {type: "danger", message: data.message}
                            return;
                        }

                        shared.party = data;
                        shared.status = {
                            playing: true,
                            count: 0,
                            size: shared.party.locations.length
                        };
                        shared.page = "play"
                    })
                    .fail(function () {
                        console.log("fail create party");
                        shared.flash = {type: "danger", message: "failed to create party"}
                    });
            }
        }
    }
</script>

<style scoped>

</style>