<template>
    <div id="app">
        <NavBar/>
        <div v-if="shared.flash !== null" id="inner-message" v-bind:class="'alert alert-' + shared.flash.type">
            <button type="button" class="close" @click="disim">&times;</button>
            {{ shared.flash.message }}
        </div>
        <div style="position: relative">
            <LoginRegister v-if="shared.page === 'login'"/>
            <Welcome v-else-if="shared.page === 'welcome'"/>
            <Play v-else-if="shared.page === 'play'"/>
        </div>
    </div>
</template>

<script>
    import NavBar from "./components/NavBar.vue"
    import LoginRegister from "./components/body/LoginRegister.vue"
    import Welcome from "./components/body/Welcome.vue"

    import shared from "./js/shared";
    import Play from "./components/body/Play.vue";

    import * as $ from "jquery";

    export default {
        created() {
            $.get(shared.origin + "/getToken", null, null, 'json')
                .done(function (data) {
                    shared.token = data.token;
                })
                .fail(function () {
                    console.log("can't connect to the api");
                    shared.flash = {type: "danger", message: "can't connect to the api"};
                });
        },
        name: "App",
        components: {
            Play,
            NavBar,
            LoginRegister,
            Welcome
        },
        data: function () {
            return {
                childData: "",
                shared: shared
            };
        },
        methods: {
            change: function (value) {
                this.shared.page = value;
            },
            disim: function (e) {
                shared.flash = null;
                //$(e.target).parent().remove();
            },
        }
    };
</script>

<style>
    #inner-message {
        margin: 0 auto;
    }
</style>