{% extends "base.html.twig" %}

{% block title %}Location Index{% endblock %}

{% block body %}
    <h1>Location index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Url</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.url }}</td>
                <td>{{ location.lat }}</td>
                <td>{{ location.lng }}</td>
                <td>
                    <div class="btn-group">

                        <a href="{{ path('location_show', {'id': location.id}) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('location_edit', {'id': location.id}) }}" class="btn btn-primary">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('location_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
