{% extends "base.html.twig" %}

{% block title %}Location{% endblock %}


{% block body %}
    <h1>Location</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ location.id }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ location.url }}</td>
        </tr>
        <tr>
            <th>Lat</th>
            <td>{{ location.lat }}</td>
        </tr>
        <tr>
            <th>Lng</th>
            <td>{{ location.lng }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('location_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('location_edit', {'id': location.id}) }}" class="btn btn-primary">edit</a>

    {{ include('location/_delete_form.html.twig') }}
{% endblock %}
