<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}
            Admin CityLocate
        {% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
{% include "nav.html.twig" %}
<div class="container-fluid">

    {% block body %}
    {% endblock %}
</div>

{{ encore_entry_script_tags('app') }}
<script></script>
</body>
</html>