{% extends "base.html.twig" %}

{% block title %}Edit City{% endblock %}

{% block body %}
    <h1>Edit City</h1>

    {{ include('city/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('city_index') }}" class="btn btn-primary">>back to list</a>

    {{ include('city/_delete_form.html.twig') }}
{% endblock %}
