{% extends "base.html.twig" %}

{% block title %}City Index{% endblock %}

{% block body %}
    <h1>City index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>Zoom</th>
            <th>Distance</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.lat }}</td>
                <td>{{ city.lng }}</td>
                <td>{{ city.zoom }}</td>
                <td>{{ city.distance }}</td>
                <td>
                    <div class="btn-group">

                        <a href="{{ path('city_show', {'id': city.id}) }}" class=" btn btn-primary">>show</a>
                        <a href="{{ path('city_edit', {'id': city.id}) }}" class=" btn btn-primary">>edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('city_new') }}" class="btn btn-primary">>Create new</a>
{% endblock %}
