{% extends "base.html.twig" %}

{% block title %}New City{% endblock %}

{% block body %}
    <h1>Create new City</h1>

    {{ include('city/_form.html.twig') }}

    <a href="{{ path('city_index') }}" class="btn btn-primary">>back to list</a>
{% endblock %}
