{% extends "base.html.twig" %}

{% block title %}City{% endblock %}

{% block body %}
    <h1>City</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ city.lat }}</td>
            </tr>
            <tr>
                <th>Lng</th>
                <td>{{ city.lng }}</td>
            </tr>
            <tr>
                <th>Zoom</th>
                <td>{{ city.zoom }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ city.distance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('city_index') }}" class="btn btn-primary">>back to list</a>

    <a href="{{ path('city_edit', {'id': city.id}) }}" class="btn btn-primary">>edit</a>

    {{ include('city/_delete_form.html.twig') }}
{% endblock %}
