<template>
    <div>
        <img id="image" v-bind:src="getUrl" alt="">
    </div>
</template>

<script>
    import shared from "../../js/shared";

    export default {
        name: "InfoHandler",
        data: function () {
            return {
                status: shared.status,
                game: shared.party,
                shared: shared
            }
        },
        computed: {
            getUrl: function () {
                return this.shared.origin + "/images/" + this.game.locations[this.status.count].url
            }
        }
    }
</script>

<style scoped>
#image{
    width: 100%;
    height: auto;
}
</style>