<template>
    <div>

        <div class="embed-responsive-16by9 embed-responsive">
            <div id="map" class="embed-responsive-item"></div>
        </div>
    </div>
</template>

<script>
    import * as L from "leaflet";
    import mIcon from "leaflet/dist/images/marker-icon.png";
    import mShadow from "leaflet/dist/images/marker-shadow.png";

    export default {
        name: "MapHandler",
        mounted() {
            this.map = L.map('map').setView([this.game.defaultLat, this.game.defaultLng], this.game.defaultZoom);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(this.map);

            this.map.on('click', (e) => {
                if (!this.status.playing) {
                    return;
                }
                if (this.marker) {
                    this.marker.remove();
                }
                this.marker = L.marker([e.latlng.lat, e.latlng.lng], {
                    icon: L.icon({
                        iconSize: [ 25, 41 ],
                        iconAnchor: [ 13, 41 ],
                        iconUrl: mIcon,
                        shadowUrl: mShadow
                    })
                }).addTo(this.map);

                this.$emit('marker-added-event');
            });
        },
        data: function () {
            return {
                map: null,
                marker: null,
                correctMarker: null,
                line: null
            }
        },
        methods: {
            clear: function () {
                this.marker.remove();
                this.correctMarker.remove();
                this.line.remove();
                this.map.setView([this.game.defaultLat, this.game.defaultLng], this.game.defaultZoom);
            },
            addCorrectMarker: function (city) {
                this.correctMarker = L.marker([city.lat, city.lng], {
                    icon: L.icon({
                        iconSize: [ 25, 41 ],
                        iconAnchor: [ 13, 41 ],
                        iconUrl: mIcon,
                        shadowUrl: mShadow
                    })
                }).addTo(this.map);

                let latlngs = [this.marker.getLatLng(), this.correctMarker.getLatLng()];
                this.line = L.polyline(latlngs, {color: "red"}).addTo(this.map);

                this.map.fitBounds(latlngs);
            },
            getDistance() {
                if (this.correctMarker == null || this.marker == null) {
                    return 0;
                }

                return L.GeometryUtil.distance(this.map, this.marker.getLatLng(), this.correctMarker.getLatLng())
            }
        },
        props: {
            game: Object,
            status: Object
        }
    }
</script>

<style scoped>

</style>