<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" @click="shared.page = 'welcome'">CityLocate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="ml-auto btn btn-success my-2 my-sm-0" type="submit" @click="shared.page = 'login'">Login / Register</button>
        </div>
    </nav>
</template>

<script>
    import shared from "../js/shared";

    export default {
        name: "NavBar",
        data: function () {
            return {
                shared: shared
            }
        }
    }
</script>

<style scoped>

</style>